@model Usuario

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active" aria-current="page">Detalle Usuario</li>
    </ol>
</nav>

<form id="frmDetalleUsuario"
      oninput='verify_password.setCustomValidity(verify_password.value != new_password.value ? "Passwords do not match." : "")'>
    <div class="mb-3">
        <label for="user_name" class="form-label">User Name</label>
        <input type="text" class="form-control" id="user_name" name="user_name" value="@Model.user_name" disabled>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="old_password" name="password" value="@Model.password" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" value="@Model.new_password" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="verify_password" required>
    </div>

    <div class="mb-3">
        <label for="security_question" class="form-label">Security Question</label>
        <input type="text" class="form-control" id="security_question" name="security_question" value="@Model.security_question" disabled>
    </div>
    <div class="mb-3">
        <label for="security_answer" class="form-label">Security Answer</label>
        <input type="text" class="form-control" id="security_answer" name="security_answer" value="@Model.security_answer" required>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<script src="~/js/Login/jquery.min.js"></script>

<script>

    $(document).ready(function () {

        if ('@Model.CodigoResult' == 'ERROR') {
            swal("Error", '@Model.Descripcion_Respuesta', "error")
                .then(name => {
                    window.location = '@Url.Action("Login")';
                }); 

        }

        // Se ejecuta cada vez que se quiere enviar el formulario
         $("#frmDetalleUsuario").on("submit", function (event) {
                event.preventDefault();

                var modelo = $(this).serialize(); //Convierte los campos del formulario en un JSON
                modelo = modelo + "&user_name=" + $("#user_name").val();

                //Indica que accion del controlador ejecutar dependiendo de si se está insertando o no
                var urlAccion = '@Url.Action("ActualizarContrasenia")';

                return $.ajax({
                    type: 'POST',
                    url: urlAccion,
                    dataType: 'JSON',
                    data: modelo,
                    success: function (data) {
                        if (data.codigoResult == 'ERROR') {
                            swal("Error", data.descripcion_Respuesta, "error"); // Muestra mensaje Error
                        } else {
                            swal("Exito!", "Transacción Realizada Satisfactoriamente", "success"); // Muestra mensaje satisfactorio

                        }
                    },
                    error: function (errorThrown) {
                        swal("Error", errorThrown, "error");
                    }
                });
            });

        })


</script>